.redlets{
  color: red;
}
.socialnet{
  display: none;
}
.meow{
  display:none;
}
.imgHov{
  border: 2px solid lightblue;
}

.welcome0:hover{
  color:red;
}
.welcome1:hover{
  color:red;
}
.welcome2:hover{
  color:red;
}
.welcome3:hover{
  color:red;
}
.welcome4:hover{
  color:red;
}
.welcome5:hover{
  color:red;
}
.welcome6:hover{
  color:red;
}

