.redlets{
  color: red;
}
.socialnet{
  display: none;
}

.welcome0:hover{
  color:red;
}
.welcome1:hover{
  color:red;
}
.welcome2:hover{
  color:red;
}
.welcome3:hover{
  color:red;
}
.welcome4:hover{
  color:red;
}

