<div id="biology_html">
<h2>Motivation</h2>

<p>I was born into a family of dentists: my mother, father and sister. It started out as following in line. I was naturally more interested in the sciences, so everything seemed normal. However, in 5th grade I was diagnosed with A.D.H.D. and immediately began taking Concerta. I took the medication for 5 years, until I was old enough to see it changing who I was. One of my dreams was crushed because of it. During this time, I was playing national level hockey. Tryouts came around for the team I dreamed about playing on; I was 20lbs too small. I quit taking Concerta a year afterwards, when the doctors told me my growth plates were closing; at 16 years old I was a measly 5’4. I instantly grew in height and weight, my sleep cycle was fixed, my attitude evened out, and miraculously my grades shot through the roof.</p>

<h2>Epiphany</h2>

<p>When I quit, I hid it from my parents. At first, I was angry at my parents for making me take medication at such a young and influential age. Yet, I quickly realized it wasn’t their fault. They were just following the doctors orders- whose only source of information was my 5th grade teacher. There was no one to blame, just a broken medical system that was following a new prescription trend. Instead of putting me on medication I wish my parents would have sat me down and told me to focus from day one, all I needed was a system to help me keep track of my attention. It wasn’t until after I stopped taking the medication that I realized my life was going to be fine, and more fulfilling without relying on a terrible drug. When it was over I had a clear purpose in mind, to reform the medical system from symptom driven prescriptions, to a cohesive network that shows long term solutions for a variety of medical conditions.</p>

<h2>Struggle</h2>

<p>Immediately I knew that there would be large mountains to climb to achieve my goal. I have to show the public that there are flaws in the current medical system. They will require proof that a substitute solution will provide better results. The system has to be fact driven and contain less prescriptions to remove power from large organizations, attempting to draw out illnesses for personal profit. The focus must be on human betterment, teamwork, and a society working together to become healthier. The struggle was finding a future that could accomplish all of these things at once. My last two years of high school and first year of college were spent figuring out a way to complete all these tasks at once. By building the largest human genome database, which specializes in early detection of diseases through human comparison, and provides lifelong preventative treatments based on past success.</p>

<h2>College</h2>

<p>It was my beginning my second semester as a Berkeley student when my new dream was put on hold. During an evolutionary medicine class there was an entire lecture devoted to lack of evolution being taught in graduate schools. The main reasons being lack of teachers, insufficient proof pre-genetic sequencing, and a packed medical curriculum as is. Thankfully there is hope, that in the future, evolutionary medicine will become a standalone graduate course. Knowing this, I was able to put traditional medical school on hold and started taking courses that filled my desires. I graduated in four years taking both of the most extensive field laboratory courses, Medical Ethnobotany and Natural History of Vertebrates. My general subject focuses were animal behavior, human evolution with medicine, and genetic systemic trees.</p>

<h2>Research</h2>

<p>Probably the luckiest research student at UC Berkeley. I had the opportunity to work with my two favorite animals in a single lab, as well as work with my third favorite animal for my final paper. I worked in Caldwell laboratory with blue ring octopodes and peacock mantis shrimp. The highlight, being part of a team that discovered a new octopus species. My final paper was on California newts, garden snakes, and tree frogs. My research focused around animals that secreted tetrodotoxin, the most dangerous toxin released by any animal, and their predators. I am fascinated about how and why they developed such a deadly toxin and how a predator evolves a way to ingest and deal with this toxin. My favorite co-evolution topics being, runaway selection and sensory bias.</p>

<h2>Future</h2>

<p>I am still slightly ahead of my time. I need to wait for medical school curriculum to start modernizing or I will follow a different path to reform. For now I plan on developing my programming skills. When the time comes for a medical reform, computer science will be a driving factor. I am studying databases, communication, information transfer, and large data statistics in order to prepare for the creation of a huge human genome database. I believe the movement will be struck by either the medical system itself or by a brilliant start-up. Before the reform is possible, data must be collected. Biologists, doctors, engineers, and programmers are going to have to work together to figure out an amazing way to get, store, and compare large strands of information. Once a database is created many diseases will find themselves through comparison. More strands in the database, means clearer diagnoses. There are a couple companies that are currently attempting to achieve a similar goal. With the help of many different professionals we can help build a more comprehensive and less expensive medical system for tomorrow.</p>

</div>

