<div id="resume">

<h2 class="prowork">Projects</h2>
<h3>Rate a Date (RaD)</h3>
  <ul class="resume_list">
    <li>A full stack application that uses mongoDB, Express, Nodejs, and Angularjs. An informative app that allows users to quickly rate and record their outing. Allows future users to search amongst the posts to find the perfect place to host their event.</li>
    <li>Future implementation will include a restaurant search through the Yelp API.</li>
  </ul>

  <h3>Smartipantsgame</h3>
    <ul class="resume_list">
    <li>Designed the detailed postgreSQL database skeleton used throughout production.</li>
    <li>Developed the profile page, by pulling from the database, calculating statistics, and displaying the results using a third party graphing script.</li>
    <li>Cleared issues of DOM-dependent variables affecting graph values by parsing large JSON objects in the back end and storing informative pieces in the database, accessible for statistical calculations.</li>
  </ul>

<h2 class="prowork">Work Experience</h2>
  <h3>Ajilon, San Francisco, CA</h3>
  <h4>Professional Staff</h4>
  <ul class="resume_list">
    <li>Performed various operations, front desk, customer service, and data management with Excel.</li>
    <li>Worked for: RPX, Zoosk, Splunk, and Rodan and Fields.</li>
  </ul>

  <h3>Apportable, San Francisco, CA</h3>
  <h4>Lead Quality Assurance and Customer Service</h4>
  <ul class="resume_list">
    <li>Managed and coordinated offshore game testers with an in-house QA team; found and reproduced numerous bugs before products were released.</li>
    <li>Increased customer retention through direct contact, analysis of limited information, bug diagnosis and problem resolution.</li>
  </ul>

  <h3>Recreational Sports Facility, UC Berkeley, CA</h3>
  <h4>Cashier/Front Desk</h4>
  <ul class="resume_list">
    <li>Managed a hectic gymnasium, maintained strict scheduling and facilitated a constant flow of people using the facilities.</li>
    <li>Cooperated with parents and gymnastic coaches to ensure correct placement of students.</li>
    <li>Thrived under high pressure situations, that arose while various people of different ages and urgencies were attempting to use the facilities.</li>
  </ul>


  <h3>Caldwell Laboratory, UC Berkeley, CA</h3>
  <h4>Marine Laboratory Technician</h4>
  <ul class="resume_list">
    <li>Maintained a colony of mantis shrimp and blue ring octopuses.</li>
    <li>Monitored and repaired complex equipment and water parameters; ensured the correct flow of appropriately oxygenated water throughout the system.</li>
  </ul>

  <h3>Leslie's Pool Supplies, Granada Hills, CA</h3>
  <h4>Lead Sales Associate</h4>
  <ul class="resume_list">
    <li>Became an active listener to devise individuals' pool problems in order prescribe a precise solution.</li>
    <li>Worked all aspects of the job including inventory, unloading truck, and stocking shelves.</li>
  </ul>

  <h3>Theta Chi, Mu Chapter, Berkeley, CA</h3>
  <h4>Public Relations Chair</h4>
  <ul class="resume_list">
    <li>Coordinated brother attendance for various Greek activities.</li>
    <li>Revitalized philanthropy awareness and brother presence at events.</li>
    <li>Choreographed a dance performance every year to compete in a philanthropic dance competition.</li>
  </ul>
  <h4>Social Chair</h4>
  <ul class="resume_list">
    <li>Integral member in saving the Berkeley Theta Chi fraternity house.</li>
    <li>Increased attendance to all events by promoting low cost, personalized, decorations, my favorite being a fluorescent waterfall.</li>
    <li>The only social chair during my four years never to receive a police complaint, by instilling a brother wide sound monitoring system.</li>
  </ul>

  <h3>Resident Halls UC Berkeley, Berkeley, CA</h3>
  <h4>Resident Assistant</h4>
  <ul class="resume_list">
    <li>Cooperated with other assistants, large corporations, and local businesses to plan price effective, educational events.</li>
    <li>Handled the various situations that arose between 60 hormonal students living on my two floors.</li>
  </ul>
</div>
