<div class="socialnet">
<a href="http://www.github.com/midorineko">GitHub</a>

<a href="http://www.linkedin.com/in/sinouye/">LinkedIn</a>

<a href="https://www.facebook.com/steven.inouye">Facebook</a>

<a href="https://plus.google.com/u/0/114540343131612070852">Google+</a>

<a href="http://www.dotabuff.com/players/31108597"> DotaBuff </a>

<a href="http://www.twitch.tv/getricecrispy"> TwitchTV </a>


</div>
