<div id="tech_html">

<h2>Good one dad…</h2>

<p>Like any kid born in the 90’s, I was surrounded by advancing technology. It was no surprised I took interest in it, taking apart VCR’s for their motors, making shock gloves out of disposable cameras, and developing extremely dangerous battery hand-warmers. One day my dad took me to a Fry's Electronics. Before we entered he said, “son, we are going to a store with only french fries”. I responded, “good one, dad”, knowing it was a lie- due to the lack of fried potato smell in the air. Walking through those doors shaped my life forever. Astonished by the selection of sleek metal contraptions, I was overwhelmed by them all, until I reached it. The light blue acrylic computer. 12 year old me took one look and fell in love.</p>

<h2>The first code</h2>

<p>The first code wasn’t written down, but rather it was a promise to never buy a desktop. It became my art, building makeshift computers with very little income. I wanted to build PCs that I could push to limits greater than the typical desktop. I was brought into the world of open source, since spending money on software was out of the question. I didn’t write much code, but I became comfortable swimming in the unknown water that was early Linux operating systems. When I was 16, I had finally saved up enough money to start building a system from scratch. By 17 I realized never to shop at Fry's again. Frustrated by faulty motherboards, bad graphics cards, unreadable processors, and crummy RAM, I decided to save and wait to build the ultimate gaming computer.</p>

<h2>Passing the time</h2>

<p>I became a minimalist, saving money wherever I could. I learned how to cook, do my laundry efficiently, and refurnish everything on craigslist. I became obsessed with the futuristic computer features people were working on in open source, and emulated video games. My favorite open source products were beryl and yodym, allowing for multiple desktop screens and computer voice control. Even in school, while everyone else was learning limits in calculus I was programming blackjack in TI. I had already written TI programs to solve any problem that I could be asked on a test. This painstaking coding was replaced by a new passion for gaming, when I discovered N64 emulation and the power of switching the character sets. It only got better in college when laptops were taken to class and dolphin allowed for Wii remote control. It was simple but like many programmers before me I was brought into code through video games. I wanted my own gear, not necessarily better or stronger, just unique. Modding became one of my favorite activities, and I am still currently modding DOTA 2 with special equipment effects. </p>

<h2>The perfect moment</h2>

<p>I was halfway through college when the perfect moment hit. Solid state drives came out, which was thought to be the biggest upgrade one could have for the foreseeable future. Being a cynic when it comes to spending money, I didn’t bite and waited for something even greater. That’s when it happened; Intel released their Ivy Bridge processor, right when solid state drives dropped in price. 22nm transistors, a full 33% reduction in size,  I sold every electronic I owned and built my Icebox. For every 6 months since then, I upgrade a single component.</p>

<h2>What’s next</h2>

<p>I did it. I finally built the computer I dreamt of having. However, I was left feeling empty inside. I built this beautiful computer, but did not understand how it worked. I was confused how metal pieces could be put together, connected with cords, then display beautiful pictures on a monitor. I understood more about how humans work than the computer I spent everything on to build. During my junior year of college, the need to know was too great. I wanted to learn coding immensely, yet trying to teach myself a new language, while progressing through one of the toughest biology programs in the nation, proved to be difficult. It was after I received my first research position that I knew coding was going to have to be put on hold. So I made a promise to pursue my knowledge quest after college was over.</p>

<h2>Now</h2>

<p>After college, I had a plan that directly connects my passion for biology with my craving to understand computer software. As mentioned in my biology section, this was to develop the largest human genome database. I moved straight into the San Francisco start-up world, where I worked closely with engineers, seeing first hand what it took to become a great programmer. After 9 months of working at various companies in San Francisco, it was time to attend Dev Bootcamp and start developing my own coding skills. I programmed this website and have been a part of a few projects. I enjoy all aspects of full stack development, and enjoy working with various APIs. Get ready to see some amazing applications in the future.</p>




</div>
